/*!
 * END USER LICENSE AGREEMENT (EULA) FOR CSS/JS MODULE
 * 
 * This Software is licensed by HScomm Web dev Team ("Licensor") to the end user ("Licensee").
 * 
 * 1. License Grants
 *    1.1 Licensee is granted a non-exclusive, non-transferable license to use one copy of the Software
 *        solely on a single website domain owned or controlled by Licensee.
 *    1.2 Third-party library components included are subject to their respective open source licenses
 *        (e.g., GPL, LGPL, MIT, Apache), which take precedence as applicable.
 *    1.3 However, GSAP library components are subject to the GSAP Standard "No Charge" License by Webflow.
 *        Licensee agrees to comply with the GSAP license terms (https://greensock.com/licensing/).
 *    1.4 For any matters not explicitly covered by third-party licenses, this EULA applies as the final
 *        governing license, except when conflicting with third-party licenses which take precedence.
 * 
 * 2. Usage Restrictions
 *    - No reproduction, distribution, sale, sublicensing, or transfer of Licensor's original Software parts
 *      to third parties.
 *    - No modification, adaptation, or derivative works of Licensor's original Software parts for redistribution.
 *    - Use limited to one domain; additional licenses required for multiple domains or projects.
 *    - No third-party use of Licensor's Software components allowed.
 *    - Proprietary notices or branding of third-party components must not be removed or altered.
 * 
 * 3. Ownership
 *    - Licensor retains all intellectual property rights in original code (excluding third-party components).
 *    - Third-party components remain property of their respective owners.
 * 
 * 4. Limitation of Liability
 *    - Licensor is not liable for damages from use or inability to use the Software, including third-party parts.
 * 
 * 5. Termination
 *    - License terminates immediately upon violation; Licensee must cease use and delete all copies.
 * 
 * 6. Governing Law
 *    - Governed by the laws of [Jurisdiction].
 * 
 * HScomm Web dev Team
 * Date: 07/25/2025
 */

#visual-section {
    --h2-font-size: 4rem;
    --h3-font-size: 1.25rem;
    --default-margin: 8rem;
    margin-top:0;
    background: #f5f5f7;
    .content {
        position: relative;
    }
    .title {
        position: relative;
        height:fit-content;
        h2 {
            transition: 0.3s transform cubic-bezier(0.3, 0.1, 0, 1);
        }
        h2 {
            width: 100%;
            justify-content: center;
            align-content: flex-end;
            font-size: var(--h2-font-size);
            line-height: 1;
            display: flex;
            align-items: end;
        }
        h3 {
            font-size: var(--h3-font-size);
            padding-top: calc(var(--h3-font-size) / 2 );
        }
    }
}
 
.sticky-element {
    position: sticky;
    /* top:calc(var(--h2-font-size) * 2); */
    top:0;
    padding: calc(var(--default-margin)) 0;
}

.sticky-element-background {
    position: absolute;
    background-color:#FFF;
    height: 100%;
    width: 100%;
    top:0;
    left:50%;
    transform: translateX(-50%);
    z-index: -1;
    background-position: bottom;
    background-size: cover;
}

.sticky-element-content {

}

@media (max-width: 1280px) and (min-width: 1025px) {
    /* 1025 ~ 1280 */
    #visual-section {
        --h2-font-size: 3rem;
        --h3-font-size: 1.5rem;
    }
}

@media (max-width: 1024px) and (min-width: 769px) {
  /* 769 ~ 1024 */
    #visual-section {
        --h2-font-size: clamp(2rem, max(5lvh, 5lvw), 2.5rem);
        --h3-font-size: clamp(1rem, max(3lvh, 3lvw), 1.25rem);
    }
}

@media (max-width: 768px) {
    #visual-section {
        --h2-font-size: clamp(1.75rem, max(5lvh, 5lvw), 2rem);
        --h3-font-size: clamp(0.875rem, max(3lvh, 3lvw), 1rem);
    }
  /* 최대 768 */
}
